{% extends 'Layout.html' %}
{% load static %}

{% block head %}
<title>Not Found</title>
{% endblock %}

{% block body %}
<div class="container-fluid" style="background-image:url({% static 'Images/ErrorBackground.jpg' %});background-size:cover;">
<br/><br/>
<div class="row">
<div class="col-md-2"></div>
<div class="col-md-8" style="text-align:center;background-image:url('{% static 'Images/About.jpg' %}');background-size:cover;padding:20px;">
<div style="background-image:url('{% static 'Images/ErrorBackground.jpg' %}');padding:20px;background-size:cover;">
<br/><br/><br/>
<h2>We're Sorry</h2><br/>
<span>We can't seem to find any country that match your search for "<span style="color:red;font-size:25px;">{{searchtext}}</span>"</span><br/><br/>
<span>Try searching by a Country's Name</span>
<br/><br/><br/>
<h2>For more details, Contact us</h2><br/>
<span style="font-size:20px;"><i class="fa fa-envelope"></i> 013pavanjain@gmail.com</span><br/>
<span style="font-size:20px;"><i class="fa fa-phone"></i> +91 8349312393</span><br/>
<br/><br/>
<h2>Register your complaint or Give us our feedback</h2><br/>
<form method="post" action="/Feedback/">
{% csrf_token %}
<div class="form-group">
<input type="text" class="form-control" placeholder="Enter your name" name="name" required>
</div>
<div class="form-group">
<input type="email" class="form-control" placeholder="Enter your Email" name="email" required>
</div>
<div class="form-group">
<textarea class="form-control" placeholder="Content" name="content" required></textarea>
</div>
<button type="submit" class="btn btn-success" style="background-color:black;border:2px solid red;color:red;">Submit</button>
</form>
</div>
</div>
<div class="col-md-2"></div>
<br/><br/><br/><br/>
</div>
<br/><br/>
</div>
{% endblock %}